/* 
  .grid-x {
    border: 1px solid black;
  }

  .large-2 {
    border: 1px solid black;
  }

  .large-8 {
    border: 1px solid black;
  } */

  * {
    font-family: 'Montserrat', sans-serif;
  }

  .hero {
    height: 95vh;
    width: 100%;
    background-image: url("../assets/covid19.jpg");
    background-size: cover;
    background-position: top;
}

/* Key color */
.severe {
  background-color: rgb(219, 26, 26)
}

.high {
  background-color: rgb(219, 99, 30)
}

.medium {
  background-color: rgb(243, 224, 55)
}

.low {
  background-color: rgb(121, 173, 36)
}

.very-low {
  background-color: rgb(176, 224, 97)
}




li {
  margin-top: 4px;
}